.DS_Store
.editorconfig
.env
.gitmodules
LICENSE
Dockerfile

.history/**
.nyc_output/**
coverage/**
node_modules/**
lib/**
runtime/**
public/admin/**
public/store/**
packages/alaska-admin-ueditor/ueditor/**

*ignore
*.map
*.log
*.md
*.svg
*.png
*.txt
*.jpg
*.gif
*.diff
*.pem
*.sh

*.css

package-lock.json
yarn.lock
src/modules.d.js
src/modules.js
views.js
